body {
	font-family: 'Montserrat', sans-serif;
	margin:0;
}

/*css for header*/
header {
	background: #333333;
	padding: 20px 0;
}

.hogwarts-logo {
    position:relative;
    width:100px;
}

.container-header {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 90px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 20px;
}

nav a {
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}


/*css for the houses pages - cards of the houses-section */
.houses {
	width: 940px;
	margin: 0 auto;
	padding: 0 0 50px 0;
}

.houses .houses-img {
	width: 130px;
	height:150px;
}	

.houses li {
	display: inline-block;
	text-align: center;
	width: 21%;
	vertical-align: middle;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}


.houses li:hover {
	border-color: #C78C19;
}

.houses li:active {
	border-color: #088C19;	
}

.houses a {
	color:black;
	text-decoration:none;
}

.houses a:visited {
	color:black;
	text-decoration:none;
}

.houses li:hover h2 {
	font-size: 34px;
}

.houses h2 {
	font-size: 30px;
	font-weight: bold;
}

.founders {
	font-size: 14px;
}

.houses-click-here {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}


/*css for the footer*/
footer {
	text-align: center;
	background: url("./images/bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}


/*css for the contact page - form section*/
form {
	margin: 40px;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

.contact-options {
	margin-bottom:40px;
}

.input-main {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.btn {
	width:40%;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
}

.btn:hover {
	background: darkorange;
	transform: scale(1.1);
}

table {
	margin: 20px 40px 40px;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}


/* css for the index page and main sections */
.banner {
	width:100%;
}

.main-titles {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

.main-section {
	padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.main-section p {
	margin: 0 0 1em;
}

.main-section strong {
	font-weight: bold;
}

.main-section em {
	font-style: italic;
}

.hogwarts-castle, .selector-hat {
	width: 280px;
	height:200px;
	float: left;
	margin: 0 20px 20px 0;
}

.house-logo-main {
	
	height:300px;
	float: left;
	margin: 0 20px 20px 0;
}


/*css for the what-to-learn section and houses-section*/
.what-to-learn-section, .houses-section {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);
}

.what-to-learn-content {
	width: 640px;
	margin: 0 auto;
}

.what-to-learn-list {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.items {
	line-height: 1.5;
	list-style-type: none;
}

.items {
	font-weight: bold;
}

.items:before {
	content: "★";
}

#what-to-learn-image {
	width: 40%;
	float:right;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 #000000;
}

.what-to-learn-image:hover {
	opacity: 0.3;
}

.video {
	width: 560px;
	margin: 2em auto;
	
}

